<h3 class="muted">All Attachments</h3>
<table class="table table-hover">
  <thead>
  </thead>
  <tbody>
  	<% @attachments.each do |file| %>
	    <tr>
	      <td class=<%= "attachment_#{file.id}" %>><%= file.media_file_name %></td>
	      <td class="text-right">
	      	<%= link_to 'Show', '#', class: "btn btn-info" %>
	      	<%= link_to 'Edit', '#', remote: true, class: "btn btn-primary editFile",  "data-id" => file.id, "data-url" => edit_attachment_path(file) %>
	      	<%= link_to 'Delete', '#', remote: true, class: "btn btn-danger deleteFile", "data-id" => file.id %>
	      </td>
	    </tr>
    <% end %>
  </tbody>
  </table>
