<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<div class="modalForm"></div>

	<!-- for appending modal window as of now -->
	<div class="row modal"></div>

	<div class="row">
	    <nav role="navigation" class="navbar navbar-inverse">
	      <div id="navbarCollapse" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	        	<li><a href="#" class="navbar-brand">Brand</a></li>
	          <li><a href="#">Home</a></li>
	          <li><a href="#">Profile</a></li>

	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	      		<li><%= link_to 'Login', new_user_session_path  %></li>
	      		<% if user_signed_in? %>
	      			<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
	      		<% else %>
	      			<li><%= link_to 'Sign Up', new_user_registration_path  %></li>
	      		<% end%>
	      		
	        </ul>
	        
	      </div>
	    </nav>
		</div>
	<%= yield %>
</div>
</body>
</html>
